body{
	background-color: cadetblue;
	color: white;
	font-size: 16px;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
	padding: 0px
	margin: 0px;
}

* {box-sizing: border-box}

.navbar{
	background-color: slategray;
	color: white;
	width: 100%;
	overflow: auto;
}



.navbar a {
	float: left;
	width: 25%;
	padding:12px;
	text-align: center;
	font-size: 1.2rem;
	transition: background-color 0.2s;
	color: white;
	text-decoration: none;
	}

.navbar a:hover {
	background-color: black;
}


.center {
  display: block;
  margin: auto;
  
}


@media screen and (max-width: 700px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
  }
}

.responsive {
  max-width: 100%;
  height: auto;
}

